In [4]:
import pandas as pd
myvar = pd.Series([1,7,4])
print(myvar)

0    1
1    7
2    4
dtype: int64

In [5]:
myvar[2]

4

In [7]:
import pandas as pd
data = {
    "Calories" : [420,380,390],
    "Duration" : [50,40,45]
}
df = pd.DataFrame(data, index = ["Running","Cycling","Gymmingb"])
print(df)

         Calories  Duration
Running       420        50
Cycling       380        40
Gymming       390        45

In [10]:
df[["Calories","Duration"]]

         Calories  Duration
Running       420        50
Cycling       380        40
Gymming       390        45

In [13]:
df.loc[["Cycling","Running"]]

         Calories  Duration
Cycling       380        40
Running       420        50

In [14]:
df.iloc[2]

Calories    390
Duration     45
Name: Gymming, dtype: int64

In [69]:
df = pd.read_csv("Sample file.csv")
print(df)

   Roll No.       Name  Marks
0         1    Sukhman    100
1         2      Daksh     95
2         3     Harith     97
3         4     Jashan     99
4         5     Gaurav     93
5         6  Harvinder     90
6         7    Sarthak     93
7         8    Gungeet     95
8         9     Swayam     90
9        10    Pritish     92

In [66]:
print(df.tail())

    Roll No.       Name  Marks
6          6  Harvinder     90
7          7    Sarthak     93
8          8    Gungeet     95
9          9     Swayam     90
10        10    Pritish     92

In [50]:
print(df.columns)

Index(['Roll No.', 'Name', 'Marks'], dtype='object')

In [45]:
print(df.head())

   Roll No.     Name  Marks
1         1  Sukhman    100
2         2    Daksh     95
3         3   Harith     97
4         4   Jashan     99
5         5   Gaurav     93

In [49]:
print(df.index)

RangeIndex(start=1, stop=11, step=1)

In [36]:
print(df.shape)

(10, 3)

In [46]:
print(df.describe())

       Roll No.       Marks
count  10.00000   10.000000
mean    5.50000   94.400000
std     3.02765    3.470511
min     1.00000   90.000000
25%     3.25000   92.250000
50%     5.50000   94.000000
75%     7.75000   96.500000
max    10.00000  100.000000

In [47]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 1 to 10
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Roll No.  10 non-null     int64
 1   Name      10 non-null     object
 2   Marks     10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 372.0+ bytes
None

In [48]:
print(df.dtypes)

Roll No.     int64
Name        object
Marks        int64
dtype: object

In [101]:
df = pd.read_csv("Sample_file.csv")
print(df)

   Roll No.       Name  Marks
0         1    Sukhman  100.0
1         2      Daksh   95.0
2         3     Harith   97.0
3         4     Jashan   99.0
4         5     Gaurav    NaN
5         6  Harvinder   90.0
6         7    Sarthak   93.0
7         8    Gungeet   95.0
8         9     Swayam   90.0
9        10    Pritish   92.0

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Roll No.  10 non-null     int64
 1   Name      10 non-null     object
dtypes: int64(1), object(1)
memory usage: 292.0+ bytes

In [103]:
df = df.dropna(axis = 0)
print(df)

   Roll No.       Name  Marks
0         1    Sukhman  100.0
1         2      Daksh   95.0
2         3     Harith   97.0
3         4     Jashan   99.0
5         6  Harvinder   90.0
6         7    Sarthak   93.0
7         8    Gungeet   95.0
8         9     Swayam   90.0
9        10    Pritish   92.0

In [105]:
df = pd.read_csv("Sample_file.csv")
df = df.fillna(95)
print(df)

   Roll No.       Name  Marks
0         1    Sukhman  100.0
1         2      Daksh   95.0
2         3     Harith   97.0
3         4     Jashan   99.0
4         5     Gaurav   95.0
5         6  Harvinder   90.0
6         7    Sarthak   93.0
7         8    Gungeet   95.0
8         9     Swayam   90.0
9        10    Pritish   92.0

In [107]:
print(df.loc[df["Marks"] >= 95])

   Roll No.     Name  Marks
0         1  Sukhman  100.0
1         2    Daksh   95.0
2         3   Harith   97.0
3         4   Jashan   99.0
4         5   Gaurav   95.0
7         8  Gungeet   95.0

In [110]:
print(df.loc[df["Roll No."] == 6]["Name"])

5    Harvinder
Name: Name, dtype: object

In [111]:
print(df.loc[df["Marks"] % 2 == 0]["Name"])

0      Sukhman
5    Harvinder
8       Swayam
9      Pritish
Name: Name, dtype: object